<div class="container">
  <br>
  <div *ngIf="usuario.rol.nombre == 'Lider de Avalúos';else sinRedireccionamiento">
    <app-page-header titulo="Productos" redireccionamiento="/RegistrarProducto"></app-page-header>
  </div>
  <ng-template #sinRedireccionamiento>
    <app-page-header titulo="Productos"></app-page-header>
  </ng-template>

  <div class=" d-grid">
    <div class="row">
      <div class={{columnas}}>
        <div class="col" *ngFor="let producto of productos">
          <app-producto-card [producto]="producto"></app-producto-card>
        </div>
      </div>
    </div>
  </div>
</div>