<div class="container">
  <br>
  <app-page-header titulo="Proveedores" redireccionamiento="RegistrarProveedor"></app-page-header>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th socpe="col">#</th>
          <th scope="col">NIT</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedores index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ proveedor.nit }}</td>
          <td>{{ proveedor.nombre }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>