<div class="container">
  <br>
  <app-page-header titulo="Proveedores" redireccionamiento="RegistrarProveedor"></app-page-header>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th socpe="col">#</th>
          <th scope="col">Tipo Documento</th>
          <th scope="col">Número de Documento</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedores index as i">
          <td>{{ i + 1 }}</td>
          <td>{{proveedor.tipoDocumento}} </td>
          <td>{{proveedor.documento}} </td>
          <td>{{ proveedor.nombre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>