<div class="container">
  <br>
  <div class="row">
    <div class="col align-self-start">
      <h2>Proveedores</h2>
    </div>
    <div class="col align-self-center">
      <input type="text" class="form-control form-control-md search-input" placeholder="Buscar" />
    </div>
    <div class="col align-self-end">
      <div>
        <button [routerLink]="['/RegistrarProveedor']" class="btn btn-outline-primary new-button">
          <span class="btn-label"><i class="fas fa-plus"></i></span>
          Nuevo
        </button>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th socpe="col">#</th>
        <th scope="col">NIT</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proveedor of proveedores index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ proveedor.nit }}</td>
        <td>{{ proveedor.nombre }}</td>
        <td>
          <a routerLink="/Proveedor/{{ proveedor.nit }}">Ver</a>
          <a> / </a>
          <a routerLink="/EditarProveedor/{{
            proveedor.nit
            }}">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>