<div class="container">
  <div class="row">
    <div class="col align-self-start">
      <h2>{{titulo}}</h2>
    </div>
    <div class="col align-self-center">
      <input type="text" class="form-control form-control-md search-input" placeholder="Buscar" />
    </div>
    <div class="col align-self-end">
      <div>
        <button [routerLink]="'../'+[redireccionamiento]" class="btn btn-outline-primary new-button">
          <span class="btn-label"><i class="fas fa-plus"></i></span>
          Nuevo
        </button>
      </div>
    </div>
  </div>
</div>