<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Tienda Virtual</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="usuario && usuario.rol=='Lider de Avalúos'">
          <a class="nav-link" routerLink="/Proveedores">Proveedores</a>
        </li>
        <li class="nav-item" *ngIf="usuario && usuario.rol=='Lider de Avalúos'">
          <a class="nav-link" routerLink="/Usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Productos">Productos</a>
        </li>
        <li class="nav-item" *ngIf="usuario && usuario.rol=='Profesional de Ventas'">
          <a class="nav-link" routerLink="/Compras">Compras</a>
        </li>
        <li class="nav-item" *ngIf="usuario && usuario.rol=='Profesional de Ventas'">
          <a class="nav-link" routerLink="/Ventas">Ventas</a>
        </li>
      </ul>
      <div class="d-flex" *ngIf="!usuario; else loggeado">
        <button class="btn nav-button btn-outline-success" routerLink="/Login">Iniciar Sesión</button>
      </div>
      <ng-template #loggeado>
        <button class="btn nav-button btn-outline-danger" (click)="cerrarSesion()">Cerrar Sesión</button>
      </ng-template>

    </div>
  </div>
</nav>