<div class="container">
  <br>
  <app-page-header titulo="Usuarios" redireccionamiento="RegistrarUsuario"></app-page-header>
  <div class="table-responsive">
    <table class="table table-responsive table-bordered">
      <thead>
        <tr>
          <th socpe="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Rol</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ usuario._Usuario }}</td>
          <td>{{ usuario.rol }}</td>
          <td>
            <a routerLink="/EditarUsuario/{{
            usuario.id
            }}">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>