/* You can add global styles to this file, and also import other style files */
.search-input {
  margin-bottom: 10px !important;
}
.new-button {
  margin-bottom: 9px !important;
}
.producto-card {
  border-radius: 15px;
}
.card-button {
  border-radius: 7px !important;
}
.nav-button {
  border-radius: 10px !important;
}
