<div class="container">
  <br>
  <app-page-header titulo="Compras realizadas" redireccionamiento="RegistrarCompra"></app-page-header>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th socpe="col">#</th>
          <th scope="col">ID Jefe de Ventas</th>
          <th scope="col">Total Descontado</th>
          <th scope="col">SubTotal</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factura of facturas index as i">
          <td>{{ i+1}}</td>
          <td>{{ factura.idInteresado}}</td>
          <td>{{ factura.descuentoTotal }}</td>
          <td>{{ factura.subTotal }}</td>
          <td>{{ factura.total }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>